
/* Général */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #494343;
}


h1 
{
    font-family: 'Cinzel Decorative', cursive;
}

ul 
{
    list-style: none;
}



a{
    text-decoration: none;
    color: #dddcd2;
    font-weight:bold;
}

h2
{
    font-family: 'Cinzel Decorative', cursive;
    color: white;

}
/* HEADER */

header {
    position: fixed;
    width:100%;
    height:100px;
    background-color: rgba(56, 56, 56,0.7);
    border-bottom: solid #5E3730;
    z-index: 2;
    
    
}

#red {
    color: #5E3730;
}

header h1 
{
    margin-top: 30px;
    margin-left: 25px; 
    float: left;
    color: white;
}
header nav
{
    float: right;
    margin-top:40px;
    margin-right: 40px;
}
header nav ul li {

    display: inline-block;
    margin-left:10px;
    border-bottom: 0px solid #ff8ece;
    padding-bottom:25px;
    border-radius:4px;
    

    
}
/* MAIN */

#main {
    position: relative;
    background: url('https://image.noelshack.com/fichiers/2020/15/6/1586566008-webp-net-resizeimage.jpg') center no-repeat;
    height:100%;
    width:100%;
    z-index: -1;
    
}

#main h2 {

    text-transform: uppercase;
    text-align: center;
    padding: 260px 0 40px 0;
    font-weight:normal;
    font-size: 50px;
}

/* Footer */
footer {
    border-top: solid #5E3730;
    background-color: rgb(56, 56, 56);
    text-align:center;
    padding: 40px 0 40px 0;
    bottom: 0px;
    width: 100%;
}