#Major_Content{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    border-top: 1px solid grey;
}

#Major_Content_Left{
    position: relative;
    float: left;
    width: 50%;
}

#Major_Content_Left img{
    max-width: 100%;
}

.Minor_Content{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    border-top: 1px solid grey;
}

.Minor_Content_Left{
    position: relative;
    float: left;
    width: 50%;
}

.Minor_Content_Left img{
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

header img {
    width: 200px;
    

}

#logo {
    margin-top: 0px;
    text-align: center;
}

#reseau {

    height:65px;
    width: 100%;
    border-bottom: solid 1px rgb(212, 212, 212);
}
#insta {
    float: right;
    border-radius: 35px;
    width: 35px;
    margin-right: 150px;
    margin-top: 10px;

}

#insta:hover {

    background-color: rgb(201, 147, 180);
}

#reseau img {
    border: solid 1px  rgb(212, 212, 212);
    border-radius: 35px;
    padding: 5px;
    width: 35px;
    transition-duration:0.7s;

} 

#reseau img:hover {

    cursor:pointer;
    transition-delay:0s;
    transition-duration:0.7s;
    transition-property:all;
    transition-timing-function:ease;
    vertical-align:middle;
    filter: invert(100%);
    border: solid 1px  rgb(212, 212, 212);
    border-radius: 35px;
    padding: 5px;
    width: 35px;

} 

nav {
   border-top: solid 1px rgb(212, 212, 212);
   border-bottom: solid 1px rgb(212, 212, 212);
   text-align: center;
}

#items {
    text-align: center;
    background-color: white;
    width: 100%;
    font-size: 18px;}

nav a
{

    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}

#caro {
    width: 43%;
    margin: 0 auto;
}

#bg {
    background-color: #000000;
    text-align: center;
}

#main {
    height: 20px;
}
#color {
    background-color: #141414;
}
footer {
 color: rgb(212, 212, 212);
 font-family: 'Old Standard TT', serif;
 background: url(https://mocah.org/uploads/posts/5386920-man-male-guy-smoking-cigarette-smoke-person-hand-dark-black-holding-face-black-and-white-beard-whisker-jacket-leather-white-cig-standing-free-images.jpg) center no-repeat;
}

#about {
    background-color: red;
    width: 33%;
}

#article {
    background-color:green;
    width: 33%;
}

#navigation {

    background-color:yellow;
    width: 33%;
}

#red {
    color: rgb(151, 39, 39);
    font-size: 25px;
    font-family: 'Old Standard TT', serif;
}

.populaire_a, .populaire_a:hover, .populaire_a:visited, .populaire_a:focus {
    text-decoration: none !important;
    color: white;
    transition-duration: 0.3s;
}

.populaire_a:hover {
    color: rgb(151, 39, 39);
}

footer .footer-inner .footer-block .footer-widget-content .widget-title h2 {
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Spectral SC",serif;
}
footer .footer-inner .footer-block .footer-widget-content .widget-title h2 {
    color: #fff;
}
footer {


    background-color: #010101;
    color: #eee;
    padding: 50px 0 10px 0;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
}
footer .footer-inner .footer-block .footer-widget-content .widget-title h2:after {
    content: "";
    display: inline-block;
    height: 0.7em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 3px solid rgba(255,255,255,0.2);

}